
.mylink {
    color: black;
    text-decoration: none;
}

.button {
    background-color:darkgreen;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.button:hover {
    background-color:green ;
}

.row {
    width: 1000px;
}

.col {
    padding: 0;
}

.col .button {
    position: absolute;
    top: 254px;
    left: 39px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
